/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.afficher-plus {
    margin: 0;
    font-size: 18px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.fa-magnifying-glass {
    color: white;
}

.outils {
    margin-top: 30px;
}
/****** Header ***********/
.logo img {
    width: 61.09px;
    height: 19px;
    margin: 30px 50px 30px 0px;
    display: flex;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav a {
    border-top: 2px #ffffff solid;
    padding-top: 16px;
    margin-left: 34px;
    margin-right: 34px;
}

.nav a:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
}

/****** Recherche ***********/
.recherche form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 35px 0px 35px 0px;
}

.fa-location-dot {
    color: black;
}

.recherche label {
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recherche input {
    border: 1px #F2F2F2 solid;
    width: 195px;
    height: 49px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.recherche button {
    border-radius: 0 15px 15px 0;
    width: 132px;
    background-color: #0065FC;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
}

.recherche .button-loupe {
    display: none;
}
/****** Filtres ***********/
.filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 35px;
}

.filtres button {
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    height: 50px;
    border: 2px #F2F2F2 solid;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
}

.button-filtre {
    display: flex;
    flex-direction: row;
    gap: 15px;
    }

.filtres .fa-solid {
    margin-right: 10px;
}

.filtres button:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.fa-info {
    border: 1px #F2F2F2 solid;
    border-radius: 30px;
    padding: 12px 10px 12px 10px;
    margin-right: 10px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 35px 0px 35px 0px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin: 30px 0 30px 0;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 17.5px 17.5px 0 0;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}

.hebergements-cards .card-rating {
    margin-bottom: 8px;
}

.hebergements-cards .card-title {
    margin-top: 8px;
    margin-bottom: 12px;
}

.hebergements-cards .card-subtitle {
    margin: 0px 0px 5px 0px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
.activites {
    margin: 30px;
}

.activites .card {
    padding: 0px;
}

.activites-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin: 30px 0 30px 0;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 17.5px 17.5px 0 0;
}

.activites-cards .card-content {
    display: flex;
    padding-left: 15px;
}

/****** Footer ***********/
.footer {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 35px 0 0 0;
}

.footer-title {
    margin: 15px 0 0 15px;
}

.lien-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-title {
    margin: 15px 0 15px 15px;
}

.lien-footer a {
    margin: 0 0 15px 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filtres {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        margin-bottom: 35px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites .card {
        height: 270px;
    }

    .activites img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .body {
        margin: 0;
    }

    .main-container {
        padding: 0;
    }

    /****** Header ***********/
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        margin: 30px;
        display: flex;
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nav a {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px #F2F2F2 solid;
        padding-bottom: 16px;
        padding-top: 0px;
        margin: 0;
    }

    .nav a:hover {
        background-color: white;
        border-bottom: 2px #0065FC solid;
        border-top: none;
        color: #0065FC;
    }

    /****** Outils ***********/
    .outils {
        padding: 0 20px 0 20px;
    }

    .recherche .button-rechercher {
        display: none;
    }

    .recherche .button-loupe {
        border-radius: 10px;
        box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
        width: 49px;
        display: block;
    }

    .recherche input {
        width: 60%;
    }

    .recherche form {
        display: flex;
        justify-content: center;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .filtres button {
        font-size: 14px;
        font-weight: bold;
        background-color: white;
        height: 50px;
        border: 2px #F2F2F2 solid;
        border-radius: 25px;
        padding: 10px 20px 10px 20px;
    }

    .button-filtre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 10px;
    }

    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    /****** Populaires ***********/
    .populaires {
        width: 100%;
        margin: 0;
    }

    .populaires-cards  {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 100%;
    }

    #hebergements {
        background-color: white;
        margin-top: 15px;
        padding: 0 20px 0 20px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        margin: 15px 0;
    }

    /****** Hebergements ***********/
    .activites {
        margin: 35px 0 0 0;
        padding: 30px;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 30px 0 0 0;
    }

    .activites-cards img {
        height: 141px;
    }

    .activites-cards .card-content {
        height: 30%;
    }

    .activites .card {
        height: 200px;
    }

    /****** Hebergements ***********/
    .footer {
        display: flex;
        flex-direction: column;
    }
} 